:root {  /* Definindo variavel, com as cores principais do projeto */
    --vermelha: #E50914;
    --preto: #141414;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; /* Define o limete da caixa, não rompendo os pixels definidos*/
   
}

/*Elementos base*/

body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;

}


header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /*space-between Coloca um espaçamento entro os elementos h2 e nav */

}

header .logo {
    margin-left: 50px;
    color: var(--vermelha);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{  /* Hover aplica um evento de mudança de cor quando mouse passa em cima*/
    color: #fff;

}

/*Filme principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('https://media.discordapp.net/attachments/677309085728636947/811645977115099174/capa-dark.jpg?width=1202&height=676'); /*Cria uma camada fina de contraste com a fonte*/

    width: 100%;
    height: 600px;
    background-size: cover;
    padding: 30px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo { 
    margin-top: 6%;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Arial, sans-serif;
}

.botao {
    background-color: rgba(0, 0, 0, 0.40);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white ;
    color: rgb(8, 8, 8);
}

.botao i {
    margin-right: 8px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 5px;
}

.carrosel-filmes {
    margin-top: 5px;
}